{% extends "technology_radar/base.html" %}

{% load i18n technology_radar_tags %}

{% block content %}
<h1>{{ radar.name }}</h1>
<p class="lead">{% trans "Select an area to explore" %}</p>
<ul>
    {% for area in areas %}
    <li>
        <a href="{% url 'area-detail' radar.slug area.slug %}">{{ area.name }}</a>
    </li>
    {% endfor %}
</ul>
<p>
    <a href="{% url 'radar-index' %}" class="btn btn-default">{% trans "Back to overview" %}</a>
    <a href="{% url 'radar-detail-download' radar.slug %}" class="btn btn-default">{% trans "Download radar" %}</a>
</p>
{% endblock %}
